@import "@/assets/theme.scss";

.sigInContainer {
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  overflow: hidden;
  border-radius: 12px;
  animation: scaleCard 500ms ease forwards;
  .imagenContainer {
    text-align: end;
    transform: translateY(-100%);
    animation: appearFromTop 500ms ease forwards 500ms;
  }
  .formContainer {
    width: 100%;
    padding: 25px;
    .ant-form-item-control-input {
      margin: 5px;
    }
    .iconButton {
      font-size: 40px;
      margin: 8px;
      &.google {
        color: red;
      }
      &.facebook {
        color: blue;
      }
      &.git {
        color: black;
      }
    }
  }
  .sigInContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes scaleCard {
  0% {
    opacity: 0.25;
    transform: scale(0.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
