@import "@/assets/theme.scss";

.home-container {
  width: 100%;
  padding: 10px;
}
.home-section {
  text-align: center;
  margin-bottom: 20px;
  min-height: 350px;
  &.center {
    display: grid;
    align-items: center;
  }
  .home-title {
    font-size: $brand-font;
    font-weight: $bold;
  }
  .home-description {
    text-align: justify;
    font-size: $description-font;
  }
  .home-brand {
    font-size: $brand-font;
    font-weight: $bolder;
  }
  .home-repeat-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 32px;
    .home-repeat-element {
      border-radius: 8px;
      font-size: $description-font;
      width: 100%;
      height: auto;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      padding: 15px;
    }
    .home-repeat-element:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
