//gradient colors
$success: #52c41a;
$gradientSuccess: #95de64;
$danger: #ff4d4f;
$gradientDanger: #fc847e;
$warning: #faad14;
$gradientWarning: #ffd666;
$primary: #1890ff;
$primary-dark: #1880e0;
$gradientPrimary: #69c0ff;
$dark: #000000;
$gradientDark: #262626;
$alternative: #722ed1;
$alternative-dark: #6228b4;
$gradientAlternative: #b37feb;

//grays scale
$white: #ffffff;
$gray-1: #fafafa;
$gray-2: #f0f0f0;
$gray-3: #d9d9d9;
$gray-4: #bfbfbf;
$gray-5: #8c8c8c;
$gray-6: #595959;
$gray-7: #434343;
$gray-8: #262626;
$gray-9: #1f1f1f;
$black: #000000;

//sizes
$brand-font: 36px;
$title-font: 24px;
$subtitle-font: 20px;
$description-font: 16px;
$paragraph-font: 12px;

//weight
$normal: 300;
$semi-bold: 400;
$bold: 700;
$bolder: 900;
